.App {
  background: url('./assets/images/bgim.jpg');
  width: 100%;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.brand-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

._home_mque {
  height: 101px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

._home_mque .top_brnd {
  position: absolute;
  left: 0;
  top: 5px;
  overflow: hidden;
  width: 90px;
  height: 60px;
  z-index: 2;
  background-position: -515px -156px;
}

.sprite-top {
  background-image: url('https://cdn.fcglcdn.com/brainbees/images/n/sprite-top4.png');
  background-repeat: no-repeat;
}









.marquees-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
}
.marquees-wrapper::after {
  position: absolute;
  content: "";
  inset: 0;

}

.marquee {
  --gap: 1rem;
  margin-block: 10px;
  display: flex;
  overflow: hidden;
  user-select: none;
  height: 100%;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
}
.scroll {
  animation: scroll 30s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-item .ant-card-body {
  padding: 0;
  width: 100%\;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}